body {
    background-color: rgb(213, 250, 219);
}
#submitIssueFormContainer {
    padding-top: 100px;
}
.formTitle {
    color: #205a4c;
    font-weight: 600;
    font-size: 35px;
    line-height: 28px;
    text-align: center;
}
.formDivide {
    border: 1px dotted #0e3c31;
    margin: 14px 10px 30px;
    border: 2px dashed rgb(168, 223, 177);

}
.formLabel {
    display: block;
    color: #165e4d;
    font-weight: 600;
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 6px;
}
.formLabel span {
    color: red;
}
.formInput {
    width: 90%;
    padding: 10px 12px;
    margin: 0 20px;
    outline: none;
    border: 1px solid #0e3c31;
    color: #0e3c31;

    /* color: #b8f0c2; */
    font-size: 17px;
    line-height: 20px;
    border-radius: 8px;
    background-color: #b8f0c2;

}
.formInput::placeholder {
    color: #0e3c31;
    font-size: 17px;
    background-color: #b8f0c2;
}
.formInput:focus {
    border: 2px solid rgb(55, 108, 73);
}
.formBox {
    margin-left: 10px；
}
#issueDesc {
    margin-bottom: 20px;
}

#formBtnSubmit {
    padding: 10px 0;
    width: 100px;
    margin: 20px 30px;
    float: right;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    background-color: #1f804f;
    color: rgb(217, 250, 222);
    font-size: 16px;
    cursor: pointer;
}
.loader {
    display: none;
    width: 22px;
    height: 22px;
    border: 3px solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#formFile {
    display: none;
}
.formFileContainer {
    display: block;
    padding: 20px 0;
    margin: 0 30px;
    text-align: center;
    border: 2px dashed rgb(168, 223, 177);
    cursor: pointer;
}
.formFileImg {
    display: inline-block;
    padding: 12px;
    background-color: #b8f0c2;
    border-radius: 8px;
}
.formFileContent img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.formFileText1 {
    margin: 12px 0 8px;
    line-height: 25px;
    font-weight: 500;
    color: #47554b;

}
.formFileText1 span {
    color: hsl(126, 83%, 28%);
}
.formFileText2 {
    color: #47554b;
}
.formFileUploaded {
    display: none;
    width: 300px;
}
  

.errMessage {
    color: red;
    font-size: 0.9rem;
    visibility: hidden;
    margin-top: 4px;
}

.input-error {
    border: 1px solid red;
}  