.issue_container {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgb(194, 247, 202); 
    border: 2px solid #205a4c; 
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    margin-left: 1%;
}
.issue_container:hover {
    background-color: #b8f0c2;
    transition: background-color 0.3s ease;
}


.issue_category {
    background-color: #205a4c;
    color: rgb(194, 247, 202);
    text-align: center;
    width: fit-content;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}
/* Check if my solution works */

.issue_title {
    font-weight: bold;
    font-size: 33px;
    margin-bottom: 5px;
    color:  #0e3c31;
}

.issue_description {
    font-size: 27px;
    color:  #165e4d;
}

.issue_container_right {
    margin-left: 20px;
}

.issue_img {
    width: 140px;
    height: auto;
}
